{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="body-text">
    <h1>Grants</h1>
    <br />
	<h4>External Grants</h4>
	
		<p>2020 &emsp; Lucas Grant, <i>Forensic Sciences Foundation (FSF)</i>. <strong>Armando Anzellini</strong>, Dawnie Steadman. <u>Exploring intra-skeletal variation in stable isotope analysis through non-destructive approaches: Applications of the patterns of skeletal remodeling to forensic contexts</u>. $4,410</p>
		
	<br />
	<h4>Internal Grants</h4>
	
		<p>2024	&emsp; Faculty Research Grant (FRGAWD295), <i>Lehigh University</i>. <strong>Armando Anzellini</strong>. <u>Power in Life and Death: Elite Demographics, Identity, and the Embodiment of Inequality at the Cliff Tomb Sites of Chachapoyas, Peru</u>. $6,000
		
		<p>2019 &emsp; Forensic Anthropology Center Walter Leitner Award for Research, <i>University of Tennessee, Knoxville</i>. <strong>Armando Anzellini</strong>. <u>Alternative Non-Destructive Methods for the Stable Isotope Analysis of Bone</u>. $1,237</p>
		
		<p>2013 &emsp; Honors in the Major Grant for Undergraduate Thesis Research, <i>University of Central Florida</i>. Armando Anzellini, J. Marla Toyne. <u>Investigating Patterns of Interpersonal Violence Using Frequency Distributions of Cranial Vault Trauma</u>. $1,000</p>

</div>
{% endblock content %}