{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="body-text">
    <h1>Bioarchaeology & Skeletal Biology Lab</h1>
    <p>
        The Bioarchaeology and Skeletal Biology Laboratory (P.I.: Dr. Anzellini)
        focuses on the use of technology and the physical sciences to study human remains of the past and present
        exploring human health, diet, mobility, and social structure as well as understanding human bone development and adaptation.
        <br />
        <br />		
		The lab has two main foci. The first is the analysis of stable isotopes of nitrogen (&delta;<sup>15</sup>N), carbon (&delta;<sup>13</sup>C), and oxygen (&delta;<sup>18</sup>O) from the mineral and organic portions of bone to explore diet and migration and to gain a clearer picture of social structure and inequality in past societies. Additionally, explorations of the biochemistry of bone are achieved using a Raman spectrometer with a 1064nm excitation laser and an ATR-FTIR. Applications of these technologies are being explored as a proxy for destructive analyses of bone to reduce our impact and minimize the invasive nature of some bioarchaeological methods. The second focus is the use of computer modeling methods, such as Finite Element Analysis and photogrammetry, to examine the ways that bone adapts to biomechanical stimulus and how age-related material changes to bone affect their geometry.
        <br />
        <br />
        The lab welcomes all undergraduate or graduate students who are interested in the work that we do. If you'd like to know more,
        just send us an email to <a href="mailto:inbasbl@lehigh.edu">inbasbl@lehigh.edu</a>.
    </p>
</div>
<!-- <div class="body-text">
	<h4>Lab Publications</h4>
	
</div> -->
{% endblock content %}