{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="body-text">
    <h1>Media Coverage</h1>
    <br />
		<p>News article in <i>The Brown & White</i>, Lehigh University student newspaper, about my extensive service work dealing with NAGPRA at the University and coordination with AUM and tribes for the proper return of ancestors and archaeological material. <u>Returning misplaced ancestors at Lehigh to tribal nations</u>. 3 December 2024. <strong><em><a href="https://thebrownandwhite.com/2024/12/03/returning-misplaced-ancestors-at-lehigh-to-tribal-nations/" target="_blank" rel="noopener noreferrer">Click here to view/listen</a></em></strong></p>
		
		<p>Profile on Lehigh News titled <u>Bone Research Studies Romanian Social Structure, Health in Aging</u>. 26 June 2024. <strong><em><a href="https://www2.lehigh.edu/news/bone-research-studies-romanian-social-structure-health-in-aging" target="_blank" rel="noopener noreferrer">Click here to view/listen</a></em></strong></p>

		<p>Interviewed as Forensic Anthropology Expert on <em>Cold Case Mysteries of the Lehigh Valley</em> podcast. 17 January 2024. <strong><em><a href="https://www.coldcasemysterieslv.com/podcast/episode/7bc8203d/frances-mary-kiefer-the-case-of-the-missing-babysitter-part-4" target="_blank" rel="noopener noreferrer">Click here to view/listen</a></em></strong></p>
		<p>Interviewed about work and service outside the classroom for <em>The Brown & White</em>, Lehigh University student newspaper. 27 September 2023. <strong><em><a href="https://thebrownandwhite.com/2023/09/27/professors-outside-the-classroom/" target="_blank" rel="noopener noreferrer">Click here to view/listen</a></em></strong></p>
		<p>Interviewed about the use of Artifical Intelligence (AI) in the classroom and in the future for <em>The Brown & White</em>, Lehigh University student newspaper. 6 February 2023. <strong><em><a href="https://thebrownandwhite.com/2023/02/06/artificial-intelligence-in-the-classroom/" target="_blank" rel="noopener noreferrer">Click here to view/listen</a></em></strong></p>
</div>
{% endblock content %}