{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="body-text">
    <h1>Resources</h1>
    <hr />
   		<h4>Personal WebApps</h4>
            <p><a href="https://share.streamlit.io/armandoanzellini/pdf_citation_scraper/main/PDFScraper.py" target="_blank" rel="noopener noreferrer">PDF Citation Scraper and Wordcloud Creator</a></p>
            <p><a href="https://share.streamlit.io/armandoanzellini/citylatlong/main/CityLatLong.py" target="_blank" rel="noopener noreferrer">City and State LatLong Finder: Upload a spreadsheet of cities and get a spreadsheet with their Latitude and Longitude</a></p>
            <hr />
        <h4>External Resources</h4>
            <p><a href="https://www.anaconda.com/" target="_blank" rel="noopener noreferrer">Anaconda: Package for Python Scientific Programming and Data Analysis</a></p>
            <p><a href="https://www.pymc.io/welcome.html" target="_blank" rel="noopener noreferrer">PyMC: Bayesian and Probabilistic Programming in Python</a></p>
            <p><a href="https://scikit-learn.org/stable/" target="_blank" rel="noopener noreferrer">Scikit-Learn: Machine Learning and Statistical Analysis in Python</a></p>
</div>
{% endblock content %}