{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="body-text">
    <h1>Teaching</h1>
    <br />
       	<p><strong>Lehigh University</strong></p>
           <ul>
				<li>ANTH 012: Introduction to Archaeology and Human Origins</li>
				<li>ANTH 145: Human Evolution</li>
				<li>ANTH/LAS/GS 117: Archaeology of Latin America [cross-listed with Latin American & Latino Studies and Global Studies Interdisciplinary Programs]</li>
				<li>ANTH 197: Anthropology of Violence and Conflict</li>
				<li>ANTH 118: The Science of Archaeology – Archaeological Sciences with Lab Component</li>
				<li>ANTH 227: Archaeological Theory</li>

           </ul>            
    	<p><strong>Middle Tennessee State University</strong></p>
            <ul>
                <li>ANTH 2210: World Prehistory</li>
                <li>ANTH 3310: Biological Anthropology</li>
            </ul>
        <p><strong>University of Tennessee, Knoxville</strong></p>
            <ul>
                <li>ANTH 110: Human Origins</li>
                <li>ANTH 210: Principles of Biological Anthropology</li>
                <li>ANTH 309: Advanced Principles of Biological Anthropology</li>
            </ul>
        <p><strong>University of Central Florida (Graduate Teaching Assistant)</strong></p>
            <ul>
				<li>ANT 2410: Cultural Anthropology</li>
                <li>ANT 3212: Peoples of the World</li>
                <li>ANT 3026: Anthropology of the Undead (Online)</li>
                <li>ANT 4525: Human Osteology</li>
                <li>ANT 4521: Forensic Anthropology</li>
                <li>ANT 4183: Archaeological Sciences</li>
                <li>ANT 4462: Medical Anthropology</li>
            </ul>
        <p><strong>Non-credit Courses for the General Public:</strong></p>
            <ul>
                <li>Archaeology of Caribbean Piracy</li>
            </ul>
</div>
{% endblock content %}